body {
    background-color: #17202f;
    margin: 0px;
    /*height:100%;*/
}

nav{
    position: fixed;
    width: 100px;
    height: 100%;
    background-color: #35a0ba;
}

#navbutton{
    width:70px;
    height:70px;
    border:5px solid #152b20;
    display:block;
    margin:10px 10px 10px 10px;
}

#navbutton:hover {

}

@media screen and (max-width: 800px) {
    nav {
        position: fixed;
        height:100px;
        width:100%; /* The width is 100%, when the viewport is 800px or smaller */
    }
}